body {
	background-image: url("omfgdogs.gif");
}

a {
	color: black;
	font-size: 20pt;
}

p {
	text-align: right;
	margin-top: 600px;
}

@media only screen and (min-width: 992px) {
    body {
        border-style: solid;
    }
   }