body {
	background-image: url("omfgdogs.gif");
}

a {
	color: #FFFF33;
	font-size: 30pt;
	font-family: "Helvetica";
	font-weight: bold;
}
a:hover{
	color:#99FF00;
}
p #credit {
	text-align: right;
	margin-top: 600px;
}
p #nodogs {
	visibility: hidden;
}

@media (max-width: 992px) {
     body {
        background-image: none;
    }
    p #nodogs{
    	visibility: visible;

    }

   }
